@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  /* width: 100%; */
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}
.border-custom {
  @apply border-2 border-black border-solid;
}

.text-custom {
  @apply text-center text-xl font-semibold;
}

.leaflet-popup-content {
  font-weight: 700; /* Matches font-semibold in Tailwind */
  font-size: 1.125rem; /* Matches Tailwind's text-lg */
  color: #374151; /* Optional: Tailwind's text-gray-700 equivalent */
  line-height: 1.5; /* Improves readability */
}
